:root {
    --sidebar-width: 250px;
    --mobile-sidebar-width: 50px;
}

html {
    height: 100%;
}

body, #app, #app-holder {
    margin: 0;
    padding: 0;
    height: 100%;
}

hr {
    height: 1px;
    margin: 10px 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.huge {
    font-size: 32px;
}

#sidebar {
    background-color: #222;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('../images/background_mountains.jpg');

    float: left;
    width: var(--sidebar-width);
    height: 100%;
    border-right: 1px solid #111;
}

#sidebar #copyright {
    font-size: 14px;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    text-decoration: none;
    width: 100%;
    margin: 0;
    list-style: none;
}

#sidebar ul li i {
    padding-right: 10px;
}

#sidebar ul a {
    padding: 10px 16px;
    text-decoration: none;
    width: 100%;
    display: block;
    color: #ddd;
    font-size: 16px;
    transition: padding 0.2s;
}

#sidebar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding-left: 30px;
}

.router-link-exact-active {
    color: #2e6da4 !important;
}

#sidebar #logo {
    width: 100%;
}

#sidebar p {
    color: #bbb;
    padding: 8px;
    text-align: center;
}

#content {
    padding: 16px 32px;
    float: left;
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    overflow-y: auto;
    background-color: white;
}

@media(max-width:768px) {
    #sidebar {
        width: var(--mobile-sidebar-width);
    }

    #content {
        width: calc(100% - var(--mobile-sidebar-width));
    }

    #sidebar #logo {
        display: none;
    }

    #sidebar .hideable {
        display: none;
    }
}