[Unit]
Description=Software for the CosmicPi UI

[Service]
ExecStart=/bin/sh -c 'cosmicpi-ui'
Restart=on-failure

[Install]
WantedBy=multi-user.target
