[Unit]
Description=Software for sending locally stored events from the CosmicPi to an MQTT srver

[Service]
ExecStart=/bin/sh -c 'cosmicpi-mqtt'
Restart=on-failure

[Install]
WantedBy=multi-user.target
