[Unit]
Description=Software for sending locally stored events from the CosmicPi to an MQTT srver

[Service]
ExecStart=/usr/bin/cosmicpi-mqtt
Restart=on-failure

[Install]
WantedBy=multi-user.target
