[Unit]
Description=Software for connecting to the the CosmicPi detector

[Service]
ExecStart=/usr/bin/cosmicpi-detector
Restart=on-failure

[Install]
WantedBy=multi-user.target
