[Unit]
Description=Software for cleaning the local database from time to time, to keep it from exploding

[Service]
ExecStart=/bin/sh -c 'cosmicpi-dbcleaner'
Restart=on-failure

[Install]
WantedBy=multi-user.target
