[Detector]
detector_class = CosmicPi_V15

[CosmicPi_V15]
serial_port = /dev/serial0
baud_rate = 19200
# Leaving the raw output turned off can improve performance of the data acquisition
# and extend the potential lifetime of the SD-Card.
# It is also only really useful for debugging, since all events are stored in the sqlite database
enable_raw_output = False

[Storage]
# tells the cleanup script how old the oldest event is allowed to be; measured in hours
sqlite_max_event_age = 13
# sqlite_location = /usr/share/cosmicpi.sqlite

[MQTT]
broker_address = cosmicpidata.mooo.com
broker_topic = cosmicpi/v1.5/1.5.1

[UI]
enable_UI = True
username = cosmicpi
password = MuonsFROMSp8ce

[Access Point]
enable = True

[Default WiFi]
name=SomeWiFi
password=

[MISC]
wpa_supplicant_location = /etc/wpa_supplicant/wpa_supplicant.conf
