[Unit]
Description=Software for cleaning the local database from time to time, to keep it from exploding

[Service]
ExecStart=/usr/bin/python /home/pi/cosmicpi-rpi_V1.5/backend/database_cleaning.py
WorkingDirectory=/home/pi/cosmicpi-rpi_V1.5/backend/
Restart=on-failure

[Install]
WantedBy=multi-user.target
