[Unit]
Description=Software for connecting to the the CosmicPi detector

[Service]
ExecStart=/usr/bin/python /home/pi/cosmicpi-rpi_V1.5/backend/detector_connect.py
WorkingDirectory=/home/pi/cosmicpi-rpi_V1.5/backend/
Restart=on-failure

[Install]
WantedBy=multi-user.target
