[Detector]
detector_class = CosmicPi_V15

[CosmicPi_V15]
serial_port = /dev/serial0
baud_rate = 115200
# Leaving the raw output turned off can improve performance of the data acquisition
# and extend the potential lifetime of the SD-Card.
# It is also only really useful for debugging, since all events are stored in the sqlite database
enable_raw_output = False

[Storage]
sqlite_location = ../storage/sqlite_db

[UI]
enable_UI = True
username = user
password = changed?

[Access Point]
enable = True

[Default WiFi]
name=SomeWiFi
password=

[MISC]
#wpa_supplicant_location = C:\Users\Hendrik\Dropbox\active_sync_storage\Dokumente\CERN\2017\PyCharm\cosmicpi-rpi\some_file_location
wpa_supplicant_location = /etc/wpa_supplicant/wpa_supplicant.conf
