[Detector]
detector_class = CosmicPi_V15

[CosmicPi_V15]
serial_port = COM9
baud_rate = 115200
# Leaving the raw output turned off can improve performance of the data acquisition
# and extend the potential lifetime of the SD-Card.
# The output log can be turned off by setting enable_raw_output = False
enable_raw_output = True

[Storage]
sqlite_location = ../storage/sqlite_db

[UI]
enable_UI = True

[Access Point]
enable = True
name = CosmicPi
password = cosmicpi