[Detector]
detector_class = CosmicPi_V15

[CosmicPi_V15]
serial_port = COM9
baud_rate = 115200
# Leaving the raw output turned off can improve performance drastically,
# as well as extending the potential lifetime of the SD-Card.
# the output log can be turned off by setting it to 'none' (without quotation marks)
raw_output_file_location = 1-5_raw_output.log

[Storage]
sqlite_location = ../storage/sqlite_db

[UI]
enable_UI = True

[Access Point]
enable = True
name = CosmicPi
password = cosmicpi