{% extends "cosmic_base.html" %}
{% block title %}About CosmicPi{% endblock %}
{% block head_additions %}

{% endblock %}
{% block content %}
	<div style="max-width: 600px; margin: auto; padding: 8px; text-align: center;">
        <h1>About CosmicPi</h1>
		<p><img src="{{ url_for('static',filename='images/device.jpg') }}" style="width: 100%" /></p>

		<p>
            The Cosmic Pi project aims to build the world's
            largest open source distributed cosmic ray telescope.
            You too can be a part of the project, by becoming a Cosmic Pixel!
        </p>
        <br>
        <br>
        <p>
            <b>Please note</b><br>
            The CosmicPi software is licenced under the GNU GENERAL PUBLIC LICENSE Version 2 or later.
            You can receive a copy of the licence <a href="https://github.com/CosmicPi/cosmicpi-rpi_V1.5/blob/master/LICENSE">here</a>.
            For the source code of the CosmicPi software please visit the projects <a href="https://github.com/CosmicPi">github page</a>.
        </p>
        <p>
            This Cosmic Pi will automatically publish all cosmic ray and associated
            meta-data (position, accelerometer, magnetometer, temperature, humidity, pressure)
            to the internet for anyone to use under a CC0 license (no rights reserved)
            and placed in the public domain.<br>
            <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">More details on the CC0 licence.</a>
        </p>
    </div>

{% endblock %}