{% extends "cosmic_base.html" %}
{% block title %}Custom Plotting{% endblock %}
{% block head_additions %}
    {{"decoupled-map"|googlemap_js(location_vars['Latitude'], location_vars['Longitude'], markers=[( location_vars['Latitude'], location_vars['Longitude'] )])}}

{% endblock %}
{% block content %}
	<h1>Custom Plotting</h1>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Location
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                {{"decoupled-map"|googlemap_html(location_vars['Latitude'], location_vars['Longitude']) }}
            </div>
        </div>
    </div>

    <br>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Plot settings
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                    <form action="/histogram.png" target="_blank">
                          Start time of the plot in UTCUnixSeconds (negative seconds will mean "seconds before last measurement"):<br>
                          <input type="text" name="start_time" value="-300"><br>
                          End time of the plot in UTCUnixSeconds(the plot will not extend further than the available data):<br>
                          <input type="text" name="end_time" value="9000000000"><br>
                          The bin size for the histogram (note too many bins will slow down the histogram creation):<br>
                          <input type="text" name="bin_size_seconds" value="10"><br><br>
                         <input type="submit" value="Create plot">
                    </form>
            </div>
        </div>
    </div>

{% endblock %}